<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', { title: 'Log In' }) %>
</head>

<body>
    <%- include('partials/header') %>

        <main class="container">

            <form method="POST" action="/login">
                <input type="text" name="username" placeholder="Usuario" required />
                <input type="password" name="password" placeholder="Contraseña" required />
                <button type="submit">Log In</button>
                <% if (loginMessage) { %>
                    <div id="message">
                        That user already exists, please proceed to log in with your username and password
                    </div>
                    <% } else { %>
                        <p></p>
                        <% } %>
            </form>
            
        </main>
</body>

</html>