<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <%- include('partials/head', { title: 'Reservation'}) %>
</head>
<body>
    <%- include('partials/header') %>
    <main class="container">
        <p>Congratulations, <b><%= userData.username%></b>, your reservation has been confirmed.</p>
        <p>Go to your <a href="/dashboard">dashboard</a> to see your reservations or <a href="/search">search </a>for more aprtaments.</p>
    </main>
</body>
</html>