<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'Reservation'}) %>
</head>
<body>
    <%- include('partials/header') %>
    <main class="container">
        <p>Congratulations <b><%= userData.username%>, </b>your reservation has been accepted.</p>
        <p>Go to the <a href="/dashboard">dashbaord</a> to see your reservations or <a href="/search">search </a>for more aprtaments.</p>
    </main>
</body>
</html>