<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <title>Document</title>
</head>
<body>
    <main class="container">
        <form method="POST" action="/sign-up">
            <input type="text" name="username" placeholder="Usuario" required />
            <input type="password" name="password" placeholder="Contraseña" required />
            <label for="userType">Choose Your User Type:</label>


<select name="userType" id="userType">
    <option value="standard">standard</option>
    <option value="admin">admin</option>
</select>

  
            <button type="submit">Sign Up</button>

        </form>
        </form>
    </main>
</body>
</html>