<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', { title: 'Sign Up' }) %>
</head>

<body>
    <header class="container">
        <div id="header-container">
          <div>
            <a href="/"><img src="/images/tribook.svg" alt="tribook-logo" id="logo"></a>
          </div>
          <nav>
            <div>
              <% if (isAuthenticated) { %>
                  <a id="login-button" href="/dashboard"><button>Dashboard</button></a>
                  <a id="login-button" href="/logout"><button>Log Out</button></a>
                <% } else { %>
                  <a id="login-button" href="/login"><button>Log In</button></a>
                    <% } %>
            </div>
          </nav>
        </div>
      </header>
        <main class="container">

            <form method="POST" action="/sign-up">
                <input type="text" name="username" id="username" placeholder="Username" required />
                <input type="password" name="password" id="password" placeholder="Password" required />
                <input type="text" name="email" id=""email placeholder="email" required>
                
                <label for="userType">Choose Your User Type:</label>
                <select name="userType" id="userType">
                    <option value="standard">Standard</option>
                    <option value="admin">Admin</option>
                </select>

                <button type="submit">Sign Up</button>

                <% if (signupMessage) { %>
                    <div id="message">
                        That user does not exist, please sign up.
                    </div>
                    <% } else { %>
                        <p></p>
                        <% } %>

            </form>
        </main>
</body>

</html>