#logo {
    height: 50px;
}

#header-container {
display: flex;
justify-content: space-between;
align-items: flex-start;}

#login-button {
    color: white;
    text-decoration: none;
}

.message {
    background-color: green;
    padding: 18px;
    border-radius: 5px;
    color: white;
    border: none;
}

.alert-error {
    background-color: red;
    padding: 18px;
    border-radius: 5px;
    color: white;
    border: none;
}

.alert-error-dates {
    background-color: red;
    padding: 18px;
    border-radius: 5px;
    color: white;
    border: none;
    display: none;
}

.services {
    display: flex;
  }

#services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

  .services div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  #map { 
    height: 300px; 
}

/* home.ejs */

.search-form-date-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.search-form-values-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    gap: 10px; /* Space between columns (optional) */
}

/* new-apartment.ejs */
.feedback {
    color: red;
    font-size: 0.9em;
  }